<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Học Online tại EduOYK - Nền tảng học tập trực tuyến hàng đầu Đông Nam Á với hơn 3000+ Khoá Học và 3 triệu học viên. Đồng hành cùng EduOYK là đội ngũ giảng viên, chuyên gia hàng đầu trong nhiều lĩnh vực">
    <link rel="icon" type="image/png" href="images/icon.png" sizes="32x32"/>
    <title>Học Online với 3000+ Khoá Học từ những Chuyên Gia hàng đầu | EduOYK</title>
    <link rel="stylesheet" href="css/styles.css"/>
    <link rel="stylesheet" href="css/section.css"/>
    <link rel="stylesheet" href="css/footer_homesite.css">
    <link rel="stylesheet" href="css/product.css">
    <link rel="stylesheet" href="css/slide_show.css">
    <link rel="stylesheet" href="css/star.css">
    <link rel="stylesheet" href="css/product-menu.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="javascript/test.js"></script>
    <script src="javascript/Star.js"></script>
    <script src="javascript/menu-hover.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <form id="frmLogout" action="/account/logout" method="POST"></form>
    <div>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class ="fas fa-bars"></i>
            </label>
            <ul>
                <li><a href="index" class="active">Trang chủ</a></li>
                <li><a href="CourseActivate" class="active">Kích hoạt khóa học</a></li>
                <li><a href="#" class="active">Kiểm tra đơn hàng</a></li>
                <li><a href="faq" class="active">Chăm sóc khách hàng</a></li>
                <li><a href="BecomeInstructor" class="active">Trở thành giảng viên</a></li>
                <li><a href="MyCourse" class="active">Khóa học của tôi</a></li>
            </ul>
        </nav>
        <div class="search-box">
            <div class="header__logo">
                <img src="images/logo1.png" width=140px height="40px">
            </div>
            <form action="/search" method="POST">
                <div class="box">
                    <div class="container-box">
                        <input class="search__txt" type="text" name="contentSearch" placeholder="Tìm kiếm khóa học ngay" size=35>
                        <div class="search-btn-pos">
                            <button type="submit" class="search-btn"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                    <!--<div class="search_history">
                        <hr>
                        <h6 class="search_history_heading">Từ khóa phổ biến</h6>
                        <ul class="history_list">
                            <li class="history_item">
                                <a href="#"><i class="fas fa-fire"></i>&nbsp;&nbsp;Cách học giỏi tiếng anh</a>
                            </li>
                            <li class="history_item">
                                <a href="#"><i class="fas fa-fire"></i>&nbsp;&nbsp;Cách kinh doanh</a>
                            </li>
                            <li class="history_item">
                                <a href="#"><i class="fas fa-fire"></i>&nbsp;&nbsp;Học guitar</a>
                            </li>
                            <li class="history_item">
                                <a href="#"><i class="fas fa-fire"></i>&nbsp;&nbsp;Lập trình python</a>
                            </li>
                            <li class="history_item">
                                <a href="#"><i class="fas fa-fire"></i>&nbsp;&nbsp;Yoga</a>
                            </li>
                        </ul>
                    </div>-->
                </div>
            </form>


            <div class="cart-btn-pos">
                <div class="cart-btn-focus" id="cart-btn-click">
                    {{#if auth}}
                        {{#if shopCartSummary}}
                            <div class="amount-cart">{{shopCartSummary}}</div>
                        {{/if}}
                    {{/if}}
                    <i class="cart-btn fas fa-shopping-cart" id="cart-item"></i>
                    <div class="cart_list" id="cart_list_focus">
                        {{#if shopCartSummary}}
                        <p class="check-num-card">Giỏ hàng - {{shopCartSummary}} khóa</p>
                        <div class="scroll-container-item">
                            {{#each this.shopping_list}}
                            <a href="/course-detail/{{course_id}}">
                                <div class="shop-cart-course">
                                    <img class="card-img-shop" src={{intro_image}} alt="">
                                    <div class="container-cart-item">
                                        <p class="title-in-card">{{course_name}}</p>
                                        <p class="price-in-cart">{{format_number reduce_price}}</p>
                                    </div>
                                </div>
                            </a>
                            {{/each}}
                        </div>
                        <div class="footer-total-bill">
                            <div class="total-in-cart">
                                <p class="total-price-item-text">Tổng: </p>
                                <p class="total-price-item">{{format_number shopcartTotal}}</p>
                            </div>
                            <a href="/cart" class="btn-view-cart">
                                Xem giỏ hàng
                            </a>
                        </div>
                        {{else}}
                            <i class="list_ca fas fa-shopping-cart"></i>
                            <p class="cart-is-empty">Bạn chưa có khóa học nào trong giỏ hàng</p>
                        {{/if}}
                    </div>
                    <div></div>
                </div>
            </div>
            <div class="heart-btn-pos">
                <div class="heart-btn-focus" id="heart-btn-click">
                    {{#if auth}}
                        {{#if numberOfitems}}
                        <div class="amount-cart">{{cartSummary}}</div>
                        {{/if}}
                    {{/if}}
                    <i class="heart-btn far fa-heart" id="heart-item"></i>
                    <div class="heart_list" id="heart_list_focus">
                        {{#if numberOfitems}}
                            <div class="check-num-card">Yêu thích - {{cartSummary}} khóa</div>
                            <div class="scroll-container-item">
                                {{#each this.items}}
                                <a href="/course-detail/{{course_id}}">
                                    <div class="shop-cart-course">
                                        <img class="card-img-shop" src={{intro_image}} alt="">
                                        <div class="container-cart-item">
                                            <p class="title-in-card">{{course_name}}</p>
                                            <p class="author-in-cart">{{author_name}}</p>
                                        </div>
                                    </div>
                                </a>
                                {{/each}}
                            </div>
                            {{#if auth}}
                            <div class="footer-total-bill">
                                <a href="/account/wishlist" class="fa_tranfer">
                                    Xem danh sách
                                </a>
                            </div>
                            {{/if}}  
                        {{else}}
                            <i class="list_fa far fa-heart"></i>
                            <p class="hear-is-empty">Bạn chưa có khóa học trong danh sách yêu thích</p>  
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="bell-btn-pos">
                <i class="bell-btn far fa-bell"></i>
            </div>
            {{#if auth}}
            <div class="container-authen">
                <div class="container-name-user">
                    <p><img src="{{authUser.avatar}}" alt="" class="image-auth"></p>
                    <p class="name-user-auth">{{authUser.name}}</p>
                    <p class="down-icon-auth"><i class="fas fa-sort-down"></i></p>
                </div>
                <div class="option-authen-menu" id="option-show-auth">
                    <div class="option-item-auth">
                        <a href="/account/profile" class="option-select-auth">Thông tin tài khoản</a>
                    </div>
                    <div class="option-item-auth">
                        <a href="/account/wishlist" class="option-select-auth">Danh sách yêu thích</a>
                    </div>
                    <hr class="line-user">
                    <div class="option-item-auth">
                        <a href="javascript: $('#frmLogout').submit();" class="option-select-auth">Đăng xuất</a>
                    </div>
                </div>
            </div>
            {{else}}
            <div class="sign-in__btn">
                <a href="/account/login"><button class="sign-in-bg">Đăng nhập</button></a>
            </div>
            <div class="sign-up__btn">
                <a href="/account/register"><button class="sign-up-bg">Đăng ký</button></a>
            </div>
            {{/if}}
        </div>
    </div>
    <div>
        <section>
            <div class="container-category">
                {{>category-adver}}
            </div>
            <div class="title-top-course">
                <div class="title-name">Top khóa học nổi bật</div>
            </div>
            <div class="container-product-home">
                {{>product}}
            </div>
            <div class="title-top-course">
                <div class="title-name">Top bán chạy</div>
            </div>
            <div class="container-product-home">
                {{>product_top8}}
            </div>
            <div class="title-top-course">
                <div class="title-name">Kinh doanh khởi nghiệp</div>
            </div>
            <div class="container-product-home-special">
                <div class="img-top-business-container">
                    <img src="images/top_kinh_doanh.jpg" alt="" class="img-top-business">
                </div>
                {{>product_topbs}}
            </div>
            <div class="in-row-top">
                <div class="slideshow-top10">
                    <div class="container-top-10-slide">
                        <h6 class="title-slide-show-top10"> Xem nhiều nhất</h6>
                        <div class="body-slider-top">
                            <div class="slider-top">
                                <div class="slides-top">
                                    <input type="radio" name="radio-btn-top" id="radio1-top">
                                    <input type="radio" name="radio-btn-top" id="radio2-top">
                                    <input type="radio" name="radio-btn-top" id="radio3-top">

                                    <div class="slide-top first-top">
                                        {{#if this.empty_view_1}}
                                        <div class="container-slide-object">
                                            {{#each this.top10_view_1}}
                                            {{>product-test}}
                                            {{/each}}
                                        </div>
                                        {{/if}}
                                    </div>
                                    <div class="slide-top">
                                        {{#if this.empty_view_2}}
                                        <div class="container-slide-object">
                                            {{#each this.top10_view_2}}
                                            {{>product-test}}
                                            {{/each}}
                                        </div>
                                        {{/if}}
                                    </div>
                                    <div class="slide-top">
                                        {{#if this.empty_view_3}}
                                        <div class="container-slide-object">
                                            {{#each this.top10_view_3}}
                                            {{>product-test}}
                                            {{/each}}
                                        </div>
                                        {{/if}}
                                    </div>

                                    <div class="navigation-auto-top">
                                        <div class="auto-btn1-top"></div>
                                        <div class="auto-btn2-top"></div>
                                        <div class="auto-btn3-top"></div>
                                    </div>
                                </div>
                                <div class="navigation-manual-top">
                                    <label for="radio1-top" class="manual-btn-top"></label>
                                    <label for="radio2-top" class="manual-btn-top"></label>
                                    <label for="radio3-top" class="manual-btn-top"></label>
                                </div>
                            </div>
                            <script>
                                let counter1=1;
                                setInterval(function(){
                                    console.log(counter1);
                                    document.getElementById('radio'+counter1+'-top').checked=true;
                                    counter1++;
                                    if (counter1>3){
                                        counter1=1;
                                    }
                                },5000);
                            </script>
                        </div>
                        <hr class="line-in-top">
                    </div>
                </div>

                <div class="slideshow-top10">
                    <div class="container-top-10-slide">
                        <h6 class="title-slide-show-top10"> Mới nhất</h6>
                        <div class="body-slider-top-2">
                            <div class="slider-top-2">
                                <div class="slides-top-2">
                                    <input type="radio" name="radio-btn-top-2" id="radio1-top-2">
                                    <input type="radio" name="radio-btn-top-2" id="radio2-top-2">
                                    <input type="radio" name="radio-btn-top-2" id="radio3-top-2">

                                    <div class="slide-top-2 first-top-2">
                                        {{#if this.empty_new_1}}
                                        <div class="container-slide-object">
                                            {{#each this.top10_new_1}}
                                            {{>product-top-new}}
                                            {{/each}}
                                        </div>
                                        {{/if}}
                                    </div>
                                    <div class="slide-top-2">
                                        {{#if this.empty_new_2}}
                                        <div class="container-slide-object">
                                            {{#each this.top10_new_2}}
                                            {{>product-top-new}}
                                            {{/each}}
                                        </div>
                                        {{/if}}
                                    </div>
                                    <div class="slide-top-2">
                                        {{#if this.empty_new_3}}
                                        <div class="container-slide-object">
                                            {{#each this.top10_new_3}}
                                            {{>product-top-new}}
                                            {{/each}}
                                        </div>
                                        {{/if}}
                                    </div>

                                    <div class="navigation-auto-top-2">
                                        <div class="auto-btn1-top-2"></div>
                                        <div class="auto-btn2-top-2"></div>
                                        <div class="auto-btn3-top-2"></div>
                                    </div>
                                </div>
                                <div class="navigation-manual-top-2">
                                    <label for="radio1-top-2" class="manual-btn-top-2"></label>
                                    <label for="radio2-top-2" class="manual-btn-top-2"></label>
                                    <label for="radio3-top-2" class="manual-btn-top-2"></label>
                                </div>
                            </div>
                            <script>
                                let counter2=1;
                                setInterval(function(){
                                    document.getElementById('radio'+counter2+'-top-2').checked=true;
                                    counter2++;
                                    if (counter2>3){
                                        counter2=1;
                                    }
                                },5000);
                            </script>
                        </div>
                        <hr class="line-in-top">
                    </div>
                </div>

                <div class="slideshow-top10">
                    <div class="container-top-10-slide-3">
                        <div class="body-slider-top-3">
                            <div class="slider-top-3">
                                <div class="slides-top-3">
                                    <input type="radio" name="radio-btn-top-3" id="radio1-top-3">
                                    <input type="radio" name="radio-btn-top-3" id="radio2-top-3">
                                    <input type="radio" name="radio-btn-top-3" id="radio3-top-3">

                                    <div class="slide-top-3 first-top-3">
                                        <img src="images/slider/slider-top-1.jpg" alt="">
                                    </div>
                                    <div class="slide-top-3">
                                        <img src="images/slider/slider-top-2.jpg" alt="">
                                    </div>
                                    <div class="slide-top-3">
                                        <img src="images/slider/slider-top-3.jpg" alt="">
                                    </div>

                                    <div class="navigation-auto-top-3">
                                        <div class="auto-btn1-top-3"></div>
                                        <div class="auto-btn2-top-3"></div>
                                        <div class="auto-btn3-top-3"></div>
                                    </div>
                                </div>
                                <div class="navigation-manual-top-3">
                                    <label for="radio1-top-3" class="manual-btn-top-3"></label>
                                    <label for="radio2-top-3" class="manual-btn-top-3"></label>
                                    <label for="radio3-top-3" class="manual-btn-top-3"></label>
                                </div>
                            </div>
                            <script>
                                let counter3=1;
                                setInterval(function(){
                                    document.getElementById('radio'+counter3+'-top-3').checked=true;
                                    counter3++;
                                    if (counter3>3){
                                        counter3=1;
                                    }
                                },3000);
                            </script>
                        </div>

                    </div>
                </div>

            </div>
        </section>
    </div>
    {{>footer-index}}
</body>
</html>